<f:layout name="Default" />

<f:section name="Title">Show banner"{banner.name}"</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th>Width</th>
			<td>{banner.width}</td>
		</tr>
	
		<tr>
			<th>Height</th>
			<td>{banner.height}</td>
		</tr>
	
		<tr>
			<th>Business_type</th>
			<td>{banner.business_type}</td>
		</tr>
	
		<tr>
			<th>Bg_color</th>
			<td>{banner.bg_color}</td>
		</tr>
	
		<tr>
			<th>Fore_color</th>
			<td>{banner.fore_color}</td>
		</tr>
	
		<tr>
			<th>Title</th>
			<td>{banner.title}</td>
		</tr>
	</table>
	<f:link.action action="index">Back</f:link.action>
</f:section>