<f:layout name="Default" />

<f:section name="Title">A list of logos</f:section>

<f:section name="Content">
	<f:if condition="{logos}">
		<f:then>
			<ul>
				<f:for each="{logos}" as="logo">
					<li>
						<f:link.action action="show" arguments="{logo: logo}">{logo.title}</f:link.action>
						<f:link.action action="edit" arguments="{logo: logo}">Edit</f:link.action>
						<f:form action="delete" arguments="{logo: logo}">
							<f:form.submit value="Delete" />
						</f:form>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No logos created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new logo</f:link.action></p>
</f:section>