<f:layout name="Default" />

<f:section name="Title">Show logo"{logo.name}"</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th>Shape</th>
			<td>{logo.shape}</td>
		</tr>
	
		<tr>
			<th>Business_type</th>
			<td>{logo.business_type}</td>
		</tr>
	
		<tr>
			<th>Bg_color</th>
			<td>{logo.bg_color}</td>
		</tr>
	
		<tr>
			<th>Fore_color</th>
			<td>{logo.fore_color}</td>
		</tr>
	
		<tr>
			<th>Title</th>
			<td>{logo.title}</td>
		</tr>
	</table>
	<f:link.action action="index">Back</f:link.action>
</f:section>